ERLANG_VERSION="22.1"
ERLANGMK_CAP_VER="OTP-$ERLANG_VERSION"

if has kerl; then
    ERLANG_INSTALLATION=$(kerl list installations | grep "^$ERLANG_VERSION " | cut -d' ' -f2)
    if [ -f "$ERLANG_INSTALLATION/activate" ] ; then
        echo "Using Erlang $ERLANG_VERSION (in $ERLANG_INSTALLATION) via kerl."
      	. $ERLANG_INSTALLATION/activate
    else
		ERLANG_INSTALLATION_ERLANGMK_VER=$(kerl list installations | grep "^$ERLANGMK_CAP_VER " | cut -d' ' -f2)
		if [ -f "$ERLANG_INSTALLATION_ERLANGMK_VER/activate" ] ; then
			echo "Using Erlang $ERLANG_VERSION (in $ERLANG_INSTALLATION_ERLANGMK_VER) via kerl."
			. $ERLANG_INSTALLATION_ERLANGMK_VER/activate
		else
			echo "Erlang $ERLANG_VERSION not available. Please build it first with command \"kerl build $ERLANG_VERSION $ERLANGMK_CAP_VER && kerl install $ERLANGMK_CAP_VER  ~/erlang/$ERLANGMK_CAP_VER\" and then restart the shell"
		fi
    fi
else
    echo "kerl not available; using default Erlang."
fi

# Elixir part                                                                                                           
ELIXIR_VERSION="1.9.1"
                                                                                                                        
if has kiex; then                                                                                                       
  if kiex list|grep -q ${ELIXIR_VERSION} ; then                                                                         
    . $HOME/.kiex/elixirs/elixir-${ELIXIR_VERSION}.env                                                                  
  else                                                                                                                  
    echo "Elixir ${ELIXIR_VERSION} not available. Please build it first with command \"kiex install $ELIXIR_VERSION\" and then restart the shell"
  fi                                                                                                                    
else                                                                                                                    
  echo "kiex is not available; Use default system Elixir"                                                               
fi                                                                                                                      

